body {
	margin-left: 3px;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
}
.pageTitle {
	color: #e1e2e3;
	font-size: 12px;
}
.tableTitle {color: #000000; font-weight:bold; font-size: 12px; background-color:#d3eaef;font-family:"宋体","微软雅黑"; }
.tableContent {color: #344b50;font-size: 12px;background-color:#FFFFFF; text-align:center; line-height:1.5em;}
.pageJump {
	font-size: 12px;
	color: #295568;
}
a:link       {text-decoration: none; font-family: AdobeSm; color: #344b50 }
a:visited    {text-decoration: none; color: #344b50 }
A:hover      {COLOR: green; FONT-FAMILY: "宋体,MingLiU"; TEXT-DECORATION: underline}
/*

body         {font-size: 9pt; font-family: "宋体,MingLiU, Arial";color: #000000}
TD           {FONT-SIZE: 9pt; FONT-FAMILY: "宋体,MingLiU, Arial";color: #000000;table-layout:fixed;word-break:break-all}
p            {FONT-SIZE: 9pt; FONT-FAMILY: "宋体,MingLiU, Arial";color: #000000}
input        {FONT-SIZE: 9pt; FONT-FAMILY: "宋体,MingLiU, Arial";color: #000000}
body         {margin-top: 0; margin-bottom: 0;margin-left:0;margin-right:0; color: #000000}
select       {FONT-SIZE: 9PT;}
option       {FONT-SIZE: 9pt;}
textarea     {FONT-SIZE: 9pt;}
*/

.stripe_tb tr.alt td{background:#ecf6fc} 
.stripe_tb tr.over td{background:#FEF3D1;} 
.title { TEXT-ALIGN: center;COLOR: #2b5cbb; FONT-SIZE: 18px; font-family:"微软雅黑","黑体", "宋体";}