<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	 <!-- Login Check begin -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>cn.edu.hbcit.smms.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Login Check end-->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.loginservlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>     
   <servlet-name>ServletConfigurator</servlet-name>     
   <servlet-class>     
     org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>     
   <init-param>     
     <param-name>xmlFile</param-name>     
     <param-value>WEB-INF/proxool.xml</param-value>     
   </init-param>     
   <load-on-startup>1</load-on-startup>     
</servlet>
<servlet>     
   <servlet-name>Admin</servlet-name>     
   <servlet-class>     
     org.logicalcobwebs.proxool.admin.servlet.AdminServlet       
   </servlet-class>     
</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.loginservlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAccountInfoServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.systemmanageservlet.GetAccountInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateAccountRightsServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.systemmanageservlet.UpdateAccountRightsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InitUserPasswordServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.systemmanageservlet.InitUserPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetConditonServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GetConditonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveAccountServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.systemmanageservlet.RemoveAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewAddAccountPageServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.systemmanageservlet.ViewAddAccountPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAccountServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.systemmanageservlet.AddAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewUpdateAccountPageServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.systemmanageservlet.ViewUpdateAccountPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateAccountInfoServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.systemmanageservlet.UpdateAccountInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BackupRecoveryDatabaseServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.systemmanageservlet.BackupRecoveryDatabaseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMessageServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GetMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddScoreServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.AddScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MarkItemServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.MarkItemServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MarkManagerServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.MarkManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryMarkServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.QueryMarkServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateMarkDocServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.CreateMarkDocServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageGetGroupServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageGetGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageGetItemsServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageGetItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageGetMatchTypeServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageGetMatchTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageGetAthleteListServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageGetAthleteListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageGetAthleteByAthleteNum</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageGetAthleteByAthleteNum</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReWorkMatchFoulServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.ReWorkMatchFoulServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageDelPlayerByPlayerNum</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageDelPlayerByPlayerNum</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageGetPlayerInfByPlayerNum</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageGetPlayerInfByPlayerNum</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageUpdateMatchByPlayerNum</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageUpdateMatchByPlayerNum</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageCreateWordOfAthleteInfServle</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageCreateWordOfAthleteInfServle</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.loginservlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetSportsInfoServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.GetSportsInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SetCurrSportsServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.SetCurrSportsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddSportsServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.AddSportsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetSportsInfoByIdServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.GetSportsInfoByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateSportsServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.UpdateSportsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveSportsServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.RemoveSportsServlet</servlet-class>
  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PageDataServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamequeryservlet.PageDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectDepartNameInSportsServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamequeryservlet.SelectDepartNameInSportsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectItemByTypeServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamequeryservlet.SelectItemByTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectByQuestionServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamequeryservlet.SelectByQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdjustByHandServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.createprogramservlet.AdjustByHandServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatePlayerNumServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.createprogramservlet.UpdatePlayerNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WordDemoServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.createprogramservlet.WordDemoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WordCreateProgramServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.createprogramservlet.WordCreateProgramServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileLook</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.createprogramservlet.FileLook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameGroupingServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.createprogramservlet.GameGroupingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReailyLook</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.createprogramservlet.ReailyLook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TrackGameLook</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.createprogramservlet.TrackGameLook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Update1500GroupServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.createprogramservlet.Update1500GroupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectItemsServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.createprogramservlet.SelectItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectPlayerServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.createprogramservlet.SelectPlayerServlet</servlet-class>
  </servlet>
  
 <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetPlayerServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gameapplyservlet.GetPlayerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetItemNameServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gameapplyservlet.GetItemNameServlet</servlet-class>
  </servlet>


  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatePlayerServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gameapplyservlet.UpdatePlayerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatePlayerTeacherServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gameapplyservlet.UpdatePlayerTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddTeamleaderServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gameapplyservlet.AddTeamleaderServlet</servlet-class>
  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectGroupNameBySportsIdServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gameapplyservlet.SelectGroupNameBySportsIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectPlayerByGroupNameServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gameapplyservlet.SelectPlayerByGroupNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectAllPlayerByNumServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gameapplyservlet.SelectAllPlayerByNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatePlayerByNumServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gameapplyservlet.UpdatePlayerByNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetDepartInfoServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.GetDepartInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddDepartmentServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.AddDepartmentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateDepartmentServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.UpdateDepartmentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetDepartInfoByIdServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.GetDepartInfoByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveDepartmentServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.RemoveDepartmentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SetDepartToSportsServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.SetDepartToSportsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGroupInfoServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.GetGroupInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddGroupServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.AddGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetGroupInfoByIdServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.GetGroupInfoByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateGroupServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.UpdateGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveGroupServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.RemoveGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SetGroupToSportsServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.SetGroupToSportsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetItemInfoServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.GetItemInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddGroupToItemServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.AddGroupToItemServlet</servlet-class>
  </servlet>

<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageCheckTableGetGroupServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageCheckTableGetGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageCheckTableGetItemServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageCheckTableGetItemServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageCheckTableGetItemType</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageCheckTableGetItemType</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageCheckTableGetItemTypeServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageCheckTableGetItemTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageCheckTableIsBeforeCompeteScoreServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageCheckTableIsBeforeCompeteScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageCheckTableFinalmatchServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageCheckTableFinalmatchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageCheckTableGetScanServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageCheckTableGetScanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageCheckTablePrintScanServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageCheckTablePrintScanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddFinalItemServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.AddFinalItemServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewScheduleServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.ViewScheduleServlet</servlet-class>

  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateFinalItemServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.UpdateFinalItemServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckGroupServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.createprogramservlet.CheckGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddPlayerNumServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.AddPlayerNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewPlayerNumServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.ViewPlayerNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatePlayernumServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamesetservlet.UpdatePlayernumServlet</servlet-class>
  </servlet>









































  <servlet-mapping>     
   <servlet-name>Admin</servlet-name>     
   <url-pattern>/admin</url-pattern>     
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageGetGroupServlet</servlet-name>
    <url-pattern>/servlet/GameManageGetGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageGetItemsServlet</servlet-name>
    <url-pattern>/servlet/GameManageGetItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageGetMatchTypeServlet</servlet-name>
    <url-pattern>/servlet/GameManageGetMatchTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageGetAthleteListServlet</servlet-name>
    <url-pattern>/servlet/GameManageGetAthleteListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageGetAthleteByAthleteNum</servlet-name>
    <url-pattern>/servlet/GameManageGetAthleteByAthleteNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReWorkMatchFoulServlet</servlet-name>
    <url-pattern>/servlet/ReWorkMatchFoulServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageDelPlayerByPlayerNum</servlet-name>
    <url-pattern>/servlet/GameManageDelPlayerByPlayerNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageGetPlayerInfByPlayerNum</servlet-name>
    <url-pattern>/servlet/GameManageGetPlayerInfByPlayerNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageUpdateMatchByPlayerNum</servlet-name>
    <url-pattern>/servlet/GameManageUpdateMatchByPlayerNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageCreateWordOfAthleteInfServle</servlet-name>
    <url-pattern>/servlet/GameManageCreateWordOfAthleteInfServle</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/patchca.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAccountInfoServlet</servlet-name>
    <url-pattern>/servlet/GetAccountInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAccountRightsServlet</servlet-name>
    <url-pattern>/servlet/UpdateAccountRightsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitUserPasswordServlet</servlet-name>
    <url-pattern>/servlet/InitUserPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetConditonServlet</servlet-name>
    <url-pattern>/servlet/GetConditonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveAccountServlet</servlet-name>
    <url-pattern>/servlet/RemoveAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAddAccountPageServlet</servlet-name>
    <url-pattern>/servlet/ViewAddAccountPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAccountServlet</servlet-name>
    <url-pattern>/servlet/AddAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewUpdateAccountPageServlet</servlet-name>
    <url-pattern>/servlet/ViewUpdateAccountPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAccountInfoServlet</servlet-name>
    <url-pattern>/servlet/UpdateAccountInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackupRecoveryDatabaseServlet</servlet-name>
    <url-pattern>/servlet/BackupRecoveryDatabaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSportsInfoServlet</servlet-name>
    <url-pattern>/servlet/GetSportsInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetCurrSportsServlet</servlet-name>
    <url-pattern>/servlet/SetCurrSportsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSportsServlet</servlet-name>
    <url-pattern>/servlet/AddSportsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSportsInfoByIdServlet</servlet-name>
    <url-pattern>/servlet/GetSportsInfoByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSportsServlet</servlet-name>
    <url-pattern>/servlet/UpdateSportsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveSportsServlet</servlet-name>
    <url-pattern>/servlet/RemoveSportsServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
      <servlet-name>PageDataServlet</servlet-name>
    <url-pattern>/servlet/PageDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectDepartNameInSportsServlet</servlet-name>
    <url-pattern>/servlet/SelectDepartNameInSportsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectItemByTypeServlet</servlet-name>
    <url-pattern>/servlet/SelectItemByTypeServlet</url-pattern>
   </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectByQuestionServlet</servlet-name>
    <url-pattern>/servlet/SelectByQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdjustByHandServlet</servlet-name>
    <url-pattern>/servlet/AdjustByHandServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePlayerNumServlet</servlet-name>
    <url-pattern>/servlet/UpdatePlayerNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WordDemoServlet</servlet-name>
    <url-pattern>/servlet/WordDemoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WordCreateProgramServlet</servlet-name>
    <url-pattern>/servlet/WordCreateProgramServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileLook</servlet-name>
    <url-pattern>/servlet/FileLook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameGroupingServlet</servlet-name>
    <url-pattern>/servlet/GameGroupingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReailyLook</servlet-name>
    <url-pattern>/servlet/ReailyLook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackGameLook</servlet-name>
    <url-pattern>/servlet/TrackGameLook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Update1500GroupServlet</servlet-name>
    <url-pattern>/servlet/Update1500GroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectItemsServlet</servlet-name>
    <url-pattern>/servlet/SelectItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectPlayerServlet</servlet-name>
    <url-pattern>/servlet/SelectPlayerServlet</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>GetPlayerServlet</servlet-name>
    <url-pattern>/servlet/GetPlayerServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GetItemNameServlet</servlet-name>
    <url-pattern>/servlet/GetItemNameServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UpdatePlayerServlet</servlet-name>
    <url-pattern>/servlet/UpdatePlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePlayerTeacherServlet</servlet-name>
    <url-pattern>/servlet/UpdatePlayerTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTeamleaderServlet</servlet-name>
    <url-pattern>/servlet/AddTeamleaderServlet</url-pattern>
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>SelectGroupNameBySportsIdServlet</servlet-name>
    <url-pattern>/servlet/SelectGroupNameBySportsIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectPlayerByGroupNameServlet</servlet-name>
    <url-pattern>/servlet/SelectPlayerByGroupNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectAllPlayerByNumServlet</servlet-name>
    <url-pattern>/servlet/SelectAllPlayerByNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePlayerByNumServlet</servlet-name>
    <url-pattern>/servlet/UpdatePlayerByNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMessageServlet</servlet-name>
    <url-pattern>/servlet/GetMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddScoreServlet</servlet-name>
    <url-pattern>/servlet/AddScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkItemServlet</servlet-name>
    <url-pattern>/servlet/MarkItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkManagerServlet</servlet-name>
    <url-pattern>/servlet/MarkManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryMarkServlet</servlet-name>
    <url-pattern>/servlet/QueryMarkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateMarkDocServlet</servlet-name>
    <url-pattern>/servlet/CreateMarkDocServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDepartInfoServlet</servlet-name>
    <url-pattern>/servlet/GetDepartInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDepartmentServlet</servlet-name>
    <url-pattern>/servlet/AddDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateDepartmentServlet</servlet-name>
    <url-pattern>/servlet/UpdateDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDepartInfoByIdServlet</servlet-name>
    <url-pattern>/servlet/GetDepartInfoByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveDepartmentServlet</servlet-name>
    <url-pattern>/servlet/RemoveDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetDepartToSportsServlet</servlet-name>
    <url-pattern>/servlet/SetDepartToSportsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGroupInfoServlet</servlet-name>
    <url-pattern>/servlet/GetGroupInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGroupServlet</servlet-name>
    <url-pattern>/servlet/AddGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGroupInfoByIdServlet</servlet-name>
    <url-pattern>/servlet/GetGroupInfoByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateGroupServlet</servlet-name>
    <url-pattern>/servlet/UpdateGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveGroupServlet</servlet-name>
    <url-pattern>/servlet/RemoveGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetGroupToSportsServlet</servlet-name>
    <url-pattern>/servlet/SetGroupToSportsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetItemInfoServlet</servlet-name>
    <url-pattern>/servlet/GetItemInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGroupToItemServlet</servlet-name>
    <url-pattern>/servlet/AddGroupToItemServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>     
   <servlet-name>Admin</servlet-name>     
   <url-pattern>/admin</url-pattern>     
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/patchca.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageCheckTableGetGroupServlet</servlet-name>
    <url-pattern>/servlet/GameManageCheckTableGetGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageCheckTableGetItemServlet</servlet-name>
    <url-pattern>/servlet/GameManageCheckTableGetItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageCheckTableGetItemType</servlet-name>
    <url-pattern>/servlet/GameManageCheckTableGetItemTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageCheckTableGetItemTypeServlet</servlet-name>
    <url-pattern>/servlet/GameManageCheckTableGetItemTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageCheckTableIsBeforeCompeteScoreServlet</servlet-name>
    <url-pattern>/servlet/GameManageCheckTableIsBeforeCompeteScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageCheckTableFinalmatchServlet</servlet-name>
    <url-pattern>/servlet/GameManageCheckTableFinalmatchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageCheckTableGetScanServlet</servlet-name>
    <url-pattern>/servlet/GameManageCheckTableGetScanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageCheckTablePrintScanServlet</servlet-name>
    <url-pattern>/servlet/GameManageCheckTablePrintScanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFinalItemServlet</servlet-name>
    <url-pattern>/servlet/AddFinalItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewScheduleServlet</servlet-name>
    <url-pattern>/servlet/ViewScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFinalItemServlet</servlet-name>
    <url-pattern>/servlet/UpdateFinalItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckGroupServlet</servlet-name>
    <url-pattern>/servlet/CheckGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPlayerNumServlet</servlet-name>
    <url-pattern>/servlet/AddPlayerNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewPlayerNumServlet</servlet-name>
    <url-pattern>/servlet/ViewPlayerNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePlayernumServlet</servlet-name>
    <url-pattern>/servlet/UpdatePlayernumServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
</web-app>
