<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.loginservlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>     
   <servlet-name>ServletConfigurator</servlet-name>     
   <servlet-class>     
     org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>     
   <init-param>     
     <param-name>xmlFile</param-name>     
     <param-value>WEB-INF/proxool.xml</param-value>     
   </init-param>     
   <load-on-startup>1</load-on-startup>     
</servlet>
<servlet>     
   <servlet-name>Admin</servlet-name>     
   <servlet-class>     
     org.logicalcobwebs.proxool.admin.servlet.AdminServlet       
   </servlet-class>     
</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageGetGroupServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageGetGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageGetItemsServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageGetItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageGetMatchTypeServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageGetMatchTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageGetAthleteListServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageGetAthleteListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageGetAthleteByAthleteNum</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageGetAthleteByAthleteNum</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReWorkMatchFoulServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.ReWorkMatchFoulServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageDelPlayerByPlayerNum</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageDelPlayerByPlayerNum</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageGetPlayerInfByPlayerNum</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageGetPlayerInfByPlayerNum</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageUpdateMatchByPlayerNum</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageUpdateMatchByPlayerNum</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GameManageCreateWordOfAthleteInfServle</servlet-name>
    <servlet-class>cn.edu.hbcit.smms.servlet.gamemanageservlet.GameManageCreateWordOfAthleteInfServle</servlet-class>
  </servlet>











  <servlet-mapping>     
   <servlet-name>Admin</servlet-name>     
   <url-pattern>/admin</url-pattern>     
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageGetGroupServlet</servlet-name>
    <url-pattern>/servlet/GameManageGetGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageGetItemsServlet</servlet-name>
    <url-pattern>/servlet/GameManageGetItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageGetMatchTypeServlet</servlet-name>
    <url-pattern>/servlet/GameManageGetMatchTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageGetAthleteListServlet</servlet-name>
    <url-pattern>/servlet/GameManageGetAthleteListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageGetAthleteByAthleteNum</servlet-name>
    <url-pattern>/servlet/GameManageGetAthleteByAthleteNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReWorkMatchFoulServlet</servlet-name>
    <url-pattern>/servlet/ReWorkMatchFoulServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageDelPlayerByPlayerNum</servlet-name>
    <url-pattern>/servlet/GameManageDelPlayerByPlayerNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageGetPlayerInfByPlayerNum</servlet-name>
    <url-pattern>/servlet/GameManageGetPlayerInfByPlayerNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageUpdateMatchByPlayerNum</servlet-name>
    <url-pattern>/servlet/GameManageUpdateMatchByPlayerNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameManageCreateWordOfAthleteInfServle</servlet-name>
    <url-pattern>/servlet/GameManageCreateWordOfAthleteInfServle</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
